nav {
    height: 40px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 12px;
}

.container {
    display: flex;
}

.map-container {
    height: calc(100vh - 62px);
}

aside {
    border-right: 1px solid #fff;
    width: 20%;
    padding: 1rem;
    background-color: #252930;
    color: #fff;
}

main {
    width: 100%;
    background-color: #c0e2c5;
    color: #fff;
}

.toolbox {
    background-color: #fff;
    color: #252930;
    margin: .5rem 0 .5rem 0;
    padding: 3px;
}

.toolbox h1 {
    font-size: 1em;
}